body, header {
  background-color: black;
  color: white;
  font-family: verdana;
}
.flex {
  display: flex;
}
header {
  height: 69px;
  border-bottom: 1px solid seashell;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
}
header img {
  height: 50px;
  margin: 0 100px 0 10px;
}
nav {
  min-width: 410px;
}
header a {
  color: white;
  margin-left: 20px;
  font-size: 22px;
  display: inline-block;
}

.content {
  margin-top: 70px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
h2 {
  font-size: 32px;
}
h4 {
  font-size: 20px;
}
.mission {
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  justify-content: center;
  align-items: center;
}
.mission-text {
  background-color: black;
  width: 100%;
}
.featured-tea {
  width: 1000px;
}
.featured-tea, .locations-section {
  margin-top: 50px;
}
.tea-selection {
  width: 100%;
}
.tea, .tea img, .location {
  width: 300px;
}
.tea {
  display: inline-block;
}
.tea, .tea h4 {
  margin: 10px;
}
.tea img {
  height: 200px;
}

.locations-section {
  background-image: url("../images/img-locations-background.jpg");
  width: 1200px;
  height: 500px;
  align-items: center;
  flex-direction: column;
}
.locations-section h2 {
  margin: 75px 0 0 0;
  padding-bottom: 0;
}
.locations {
  width: 100%;
  justify-content: center;
}
.location {
  height: 250px;
  padding-bottom: 25px;
  margin: 15px 20px;
  background-color: black;
  flex-direction: column;
  justify-content: space-between;
}
.location h3 {
  font-size: 26px;
  margin: 20px 0 0 0;
}
.location span {
  font-size: 20px;
  margin-bottom: 10px;
}
.contact {
  height: 200px;
}
.contact h2 {
  margin: 10px;
}
.contact h5 {
  font-size: 18px;
}
footer {
  margin-left: 20px;
}
