body {
  font-family: helvetica;
  opacity: .9;
}
body, a {
  color: seashell;
}
body, header, .mission-text, .location {
  background-color: black;
}
header, .content, #mission, #locations-section, .locations, .location {
  display: flex;
}
header, .content, #mission, #locations-section {
  align-items: center;
}
header, .location {
  justify-content: space-between;
}
header, .mission-text, .tea-selection, .locations {
  width: 100%;
}
header {
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  top: 0;
  left: 0;
}
header img {
  height: 50px;
  margin: 0 100px 0 10px;
}
nav {
  min-width: 380px;
}
header a, h4, .location span {
  font-size: 22px;
}
header a {
  margin-left: 20px;
  display: inline-block;
}
.content, #locations-section, .location {
  flex-direction: column;
}
.content {
  margin-top: 70px;
  text-align: center;
}
h2 {
  font-size: 32px;
}
#mission {
  background-image: url("../images/img-mission-background.jpg");
  height: 760px;
}
#mission, #locations-section {
  width: 1200px;
}
#mission, .locations {
  justify-content: center;
}
.mission-text {
  margin-top: 50px;
}
.mission-text h2, .mission-text h4 {
  padding: 0;
  margin: 15px;
}
#featured-tea {
  width: 1000px;
}
#featured-tea {
  padding-top: 70px;
}
.tea, .tea img, .location {
  width: 300px;
}
.tea {
  display: inline-block;
}
.tea, .tea h4 {
  margin: 10px;
}
.tea img, .contact {
  height: 200px;
}
#locations-section {
  background-image: url("../images/img-locations-background.jpg");
  height: 570px;
  margin-top: 60px;
  padding-top: 10px;
}
#locations-section h2 {
  margin: 75px 0 0 0;
  padding-bottom: 0;
}
.location {
  height: 250px;
  padding-bottom: 25px;
  margin: 15px 20px;
}
.location h3 {
  font-size: 26px;
  margin: 20px 0 0 0;
}
.location span {
  margin-bottom: 10px;
}
.contact h2 {
  margin: 10px;
}
h5 {
  font-size: 18px;
}
footer {
  margin-left: 20px;
}
